{% extends "mainapp/header.html" %}

{% block content %}
<div style="height: 100vh">
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-2">Material Design for Bootstrap</h1>

        {% for entry in todo_entries %}
            <p class="animated fadeIn text-muted">{{entry.title}}</p>
            <p class="animated fadeIn text-muted">{{entry.body}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}